

Result Skip Results Iframe
EDIT ON
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.js-nav {
  color: white;
  text-decoration: none;
  position: absolute;
  left: 2em;
}

.StreamsHero-image {
 
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.StreamsHero-header {
  color: #fff;
  font-weight: 200;
  line-height: 48px;
  margin-bottom: -5px;
  font-size: 32px;
}

.StreamsHero-blurb {
  color: #fff;
  font-size: 21px;
  font-weight: 200;
  line-height: 28px;
  opacity: .7;
  transition: opacity 300ms linear;
  padding-bottom: 2em;
}

.StreamsHero-image{
    margin-top: 0%;
    margin-bottom: 5%;
    border-radius: 8px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Buttons */




.cards2{
    
    margin-top: 5%;
    
}

.cards3{
    padding-bottom: 5%;
    margin-top: 5%;
    
}


.wrapper{
    background-image:url("https://wallpaperaccess.com/full/4689415.png");
    background-size: cover;
}
  
 
/* End Animation Wave Color */