.txt-field input {
  border: 10px solid;
  border-width: 5px;
  border-image-slice: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-image-source: linear-gradient(to right, #34d399, #93c5fd);
  /* Ha Css beats tailwind */
  color: white;
  display:block;
}
.txt-field{
  position:relative;
}
.txt-field span {
  transition: transform 0.2s ease-in-out, right 0.2s ease-in-out,
    font-size 0.2s ease-in-out;
  pointer-events: none;
  font-size: 20px;
  position:absolute;
  /* right:60%; */
  top:0;
  left:12.4%;
  transform: translateY(-5px);
  
}
.form-input:focus-visible {
  outline: none;
}
.txt-field input:focus ~ span,
.txt-field input:valid ~ span {
  transform: translateY(-15px);
  font-size: 12px;
}
